@model WebApplication2.Models.Entity.tbl_rapor1

@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/View.cshtml";
}

@using (Html.BeginForm("Guncelle1", "Mudur3", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.rid)
        @Html.TextBoxFor(m => m.rid, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.kisiad)
        @Html.TextBoxFor(m => m.kisiad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.kisibilgi)
        @Html.TextBoxFor(m => m.kisibilgi, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.kisibas)
        @Html.TextBoxFor(m => m.kisibas, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.kisibit)
        @Html.TextBoxFor(m => m.kisibit, new { @class = "form-control" })

    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}
